@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@100;400&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url("pizza-background.jpg");
    background-size: cover;
    position: relative;
    top: 2%;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 8%;
}

.nav {
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    width: 60vw;
    left: 16%;
    top: 2%;
}

.nav li {
    display: inline-block; 
    padding: 0 5%;
}

.nav a {
    text-decoration: none;
    color: white;
    
}




.main-header {
    font-size: 4.5em;
    position: absolute;
    text-align: center;
    color: white;
    left: 8%;
    bottom: 20%;
    text-shadow:  0 0 10px black;
}

.subheading {
    color:white;
    position: absolute;
    left: 8%;
    bottom: 17%;

}

.subheading a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    margin-right: 10px;
}

section {
    margin: 0 25vw;
}

section p {
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
}